<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/d41001deaf.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <div><img src="/images/logo-mercado-liebre.svg" alt=""></div>
            <div>
                <input type="text" class="buscador" name="buscador" placeholder="Buscar productos, marcas">
            <a href="">
            </div>
            <i class="fas fa-search"></i>
        <div class="comprar">
            <i class="fas fa-hand-holding-usd"></i>
            <h4>Comprá en cuotas y sin tarjeta de crédito</h4>
        </div>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="registro">
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
        <div class="buguer-menu">
            <i class="fas fa-bars" id="menu"></i>
        </div>
    </header>
    <main>
        <section>
            <h3>Basado en tu última visita</h3>
            <article>
                <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="">
                <span>$6770</span>
                <p>40% Off</p>
                <p>Cafetera Moulinex</p>
            </article>
            <article>
                <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="">
                <span>$230000</span>
                <p>20% Off</p>
                <p>Macboock Pro 2019</p>
            </article>
            <article>
                <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <span>$70500</span>
                <p>10% Off</p>
                <p>Samsung Galaxy S10</p>
            </article>
            <article>
                <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="">
                <span>$23200</span>
                <p>5% Off</p>
                <p>SmartTV Samsung 43"</p>
            </article>
        </section>
        <section>
            <h3>Ofertas</h3>
            <article>
                <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="">
                <span>$6770</span>
                <p>40% Off</p>
                <p>Cafetera Moulinex</p>
            </article>
            <article>
                <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="">
                <span>$230000</span>
                <p>20% Off</p>
                <p>Macboock Pro 2019</p>
            </article>
            <article>
                <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <span>$70500</span>
                <p>10% Off</p>
                <p>Samsung Galaxy S10</p>
            </article>
            <article>
                <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="">
                <span>$23200</span>
                <p>5% Off</p>
                <p>SmartTV Samsung 43"</p>
            </article>
        </section>
    </main>
</body>
<footer>
    <section>
        <i id="icono" class="fas fa-credit-card"></i>
        <h4><strong>Paga con tarjeta o en efectivo</strong></h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section>
        <i id="icono" class="fas fa-gift"></i>
        <h4><strong>Envío gratis desde $ 2.500</strong></h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneﬁcio de Mercado Puntos.</p>
    </section>
    <section>
        <i id="icono" class="fas fa-user-shield"></i>
        <h4><strong>Seguridad, de principio a ﬁn</strong></h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </section>
    <section>
        <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
</footer>
</html>